@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://webfontworld.github.io/score/SCoreDream.css');

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

/* Custom Styles */
body {
  font-family: SCoreDream, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.title {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 40px;
}

.title > .special-button {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 32px;
  background: transparent;
  cursor: pointer;
}

.title > .event-message {
  position: absolute;
  left: 100px;
  top: -28px;
  display: block;
  padding: 8px;
  background: #fdfd96;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 12px;
  line-height: 1;
}

.title > .special-button:hover ~ .event-message {
  opacity: 1;
}

h1 {
  display: inline-block;
  font-family: Jua, sans-serif;
  font-size: 32px;
}

h1 > a {
  color: #000;
  text-decoration: none;
}

.dalcongcongMode {
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 500% 500%;

  -webkit-animation: rainbow 3s ease infinite;
  -z-animation: rainbow 3s ease infinite;
  -o-animation: rainbow 3s ease infinite;
  animation: rainbow 3s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
