<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/ggamchingMode.js"></script>
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <title>⭐알콩콩~! 달콩콩~!</title>
    <script>
      $(document).ready(function () {
        get_team();
        isGgamchingMode();
      });
      function get_team() {
        fetch('/api/team')
          .then((res) => res.json())
          .then((data) => {
            const { result, list } = data;
            if (result !== 'success') {
              alert(data.message);
              return;
            }
            $('#members-list').empty();
            list.forEach((member) => {
              const html = `
              <li class="members-list-card">
            <div class="member-info">
              <p class="member-role">${
                member.role === 'leader' ? '팀장' : '팀원'
              }</p>
              <p class="member-name">${member.name}</p>
              <a href="member/${
                member.memberId
              }" class="member-link">이 팀원 보러가기</a>
            </div>
            <div class="black-cover"></div>
            <img
              src="${member.img}"
              alt="${member.name}"
            />
          </li>
              `;
              $('#members-list').append(html);
            });
          });
      }
    </script>
  </head>
  <body>
    <div class="wrap">
      <header class="title">
        <h1><a href="/">⭐알콩콩~! 달콩콩~!</a></h1>
        <button onclick="setIsGgamchingMode()" class="special-button">
          💖
        </button>
        <span class="event-message"
          >하트를 클릭하면 ⭐깜찡이 모드💕를 사용하실 수 있어요!</span
        >
      </header>
      <section class="members">
        <h2>귀여운 우리⭐알콩콩달콩콩💕의 멤버들입니다.</h2>
        <ul class="members-list" id="members-list">
          <li class="members-list-card">
            <div class="member-info">
              <p class="member-role">팀원</p>
              <p class="member-name">팀원명</p>
              <a href="" class="member-link"> 이 팀원에 대해 더 알고 싶어요 </a>
            </div>
            <div class="black-cover"></div>
            <img src="" alt="멤버 이미지" />
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
