<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="wrap">
      <h1>알콩콩달콩콩<button class="special-button">💖</button></h1>
      <section class="members">
        <h2>알콩콩달콩콩의 멤버들입니다.</h2>
        <ul class="members-list">
          <li class="members-list-card">
            <div class="member-info">
              <p class="member-role">팀원</p>
              <p class="member-name">팀원명</p>
              <a href="" class="member-link"> 이 팀원에 대해 더 알고 싶어요 </a>
            </div>
            <div class="black-cover"></div>
            <img
              src="https://images.unsplash.com/photo-1603575448878-868a20723f5d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
              alt="member name"
            />
          </li>
          <li class="members-list-card">
            <div class="member-info">
              <p class="member-role">팀원</p>
              <p class="member-name">팀원명</p>
              <a href="" class="member-link"> 이 팀원에 대해 더 알고 싶어요 </a>
            </div>
            <div class="black-cover"></div>
            <img
              src="https://images.unsplash.com/photo-1603575448878-868a20723f5d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
              alt="member name"
            />
          </li>
          <li class="members-list-card">
            <div class="member-info">
              <p class="member-role">팀원</p>
              <p class="member-name">팀원명</p>
              <a href="" class="member-link"> 이 팀원에 대해 더 알고 싶어요 </a>
            </div>
            <div class="black-cover"></div>
            <img
              src="https://images.unsplash.com/photo-1603575448878-868a20723f5d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
              alt="member name"
            />
          </li>
          <li class="members-list-card">
            <div class="member-info">
              <p class="member-role">팀원</p>
              <p class="member-name">팀원명</p>
              <a href="" class="member-link"> 이 팀원에 대해 더 알고 싶어요 </a>
            </div>
            <div class="black-cover"></div>
            <img
              src="https://images.unsplash.com/photo-1603575448878-868a20723f5d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
              alt="member name"
            />
          </li>
          <li class="members-list-card">
            <div class="member-info">
              <p class="member-role">팀원</p>
              <p class="member-name">팀원명</p>
              <a href="" class="member-link"> 이 팀원에 대해 더 알고 싶어요 </a>
            </div>
            <div class="black-cover"></div>
            <img
              src="https://images.unsplash.com/photo-1603575448878-868a20723f5d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
              alt="member name"
            />
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
