<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- 시간 처리 Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="../static/js/ggamchingMode.js"></script>
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/member.css" />
    <!-- 웹종반 강의에서 이게 부트스트랩을 가져올 때 써야하는 코드라고 하던데 만약 잘못한 거면...죄송합니다... -->

    <title>Member</title>
    <script>
      $(document).ready(function () {
        get_member();
        get_rolling();
        isGgamchingMode();
      });

      // URL에서 멤버 아이디 가져오기
      function getMemberIdFromURL() {
        return location.href.split('/member/')[1];
      }

      function get_member() {
        fetch(`/api/member/${getMemberIdFromURL()}`)
          .then((res) => res.json())
          .then((data) => {
            const { result, data: member } = data;
            if (result !== 'success') {
              alert(data.message);
              history.back();
              return;
            }
            $('#member-image').empty();
            const imageTag = `
            <img
            src="${member.img}"
            alt="${member.name}"
          />
            `;
            $('#member-image').append(imageTag);
            $('#member-info').empty();
            const html = `
          <span>⭐❤️⭐❤️⭐❤️⭐⭐❤️⭐❤️⭐❤️⭐⭐❤️⭐❤️⭐❤️⭐⭐❤️⭐❤️⭐❤️⭐❤️⭐❤️⭐</span>
          <span>
            안녕하세요! 🙌 <br />
            ⭐알콩콩~달콩콩~💕 ${member.role === 'leader' ? '팀장' : '팀원'} ${
              member.name
            }입니다.
          </span>
          <span>저는 ${member.location}에 살고있어요.</span>
          <span>제 MBTI는 ${member.mbti}입니다.</span>
          <span>쉬는 날엔 ${member.hobby.join(', ')}를 즐겨요.</span>
          <span
            >제 GitHub는
            <a href="https://github.com/${member.memberId}" target="_blank"
              >여기</a
            >를 눌러주시면 볼 수 있어요.</span
          >
          <span>모두들 잘 부탁드려요!😍</span>
          <br/>
          <span>마지막으로 요즘 제가 즐겨 듣는 노래에요. 구경하시면서 들어주세요!</span>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/${
            member.musicURL
          }" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <p>⭐❤️⭐❤️⭐❤️⭐⭐❤️⭐❤️⭐❤️⭐⭐❤️⭐❤️⭐❤️⭐⭐❤️⭐❤️⭐❤️⭐❤️⭐❤️⭐</p>
            `;
            $('#member-info').append(html);
          });
      }

      // 수정, 삭제 아이콘 유머 버튼
      function make_delete_fun() {
        alert('또 속으셨습니다. 지나간 건 되돌릴 수 없습니다.');
      }

      function make_change_fun() {
        alert('훼이크입니다. 한 번 뱉은 말은 주워 담을 수 없습니다.');
      }

      function make_rolling() {
        const commentWriter = $.trim($('#comment-writer').val());
        const commentPw = $('#comment-password').val();
        const commentContents = $.trim($('#comment-contents').val()).replace(
          /(?:\r\n|\r|\n)/g,
          '<br/>'
        );

        if (!commentWriter) {
          return alert('작성자명을 입력해주세요.');
        }

        if (!commentPw) {
          return alert('비밀번호를 입력해주세요.');
        }

        if (commentPw.match(/\s/g)) {
          return alert('비밀번호에는 공백이 있으면 안 돼요!');
        }

        if (!commentContents) {
          return alert('하고 싶은 말을 적어주세요.');
        }

        const rolling = {
          memberId: getMemberIdFromURL(),
          name: commentWriter,
          password: commentPw,
          comment: commentContents,
          date: moment().format('YYYY-MM-DD HH:mm:ss'),
        };

        const formData = new FormData();
        Object.entries(rolling).forEach(([key, value]) => {
          formData.append(key, value);
        });

        fetch('/api/rollingpaper', { method: 'POST', body: formData })
          .then((res) => res.json())
          .then((data) => {
            get_rolling();
          });
      }
      function get_rolling() {
        fetch(`/api/rollingpaper/${getMemberIdFromURL()}`, {
          method: 'GET',
        })
          .then((res) => res.json())
          .then((data) => {
            const { result, list } = data;
            if (result !== 'success') {
              alert(data.message);
              return;
            }
            $('#member-rollin-list').empty();
            const writeHtml = `
            <li class="member-comment-item write">
            <div class="inner" id="write_comment">
              <input
                type="text"
                name="작성자명"
                id="comment-writer"
                placeholder="작성자명을 적어주세요."
                maxlength="8"
              />
              <input
                type="password"
                name="작성 비밀번호"
                id="comment-password"
                placeholder="비밀번호를 적어주세요."
              />
              <textarea
                name="작성 내용"
                id="comment-contents"
                placeholder="할 말을 적어주세요."
              ></textarea>
              <button onclick="make_rolling()" class="write-comment-button">
                다 적었어요.
              </button>
              
            </div>
          </li>
            `;
            $('#member-rollin-list').append(writeHtml);
            list.forEach((rolling) => {
              const html = `
              <li class="member-comment-item">
              <div class="inner">
              <span class="comment-writer">${rolling.name}</span>
              <span class="comment-contents">${rolling.comment}</span>
              <span class="comment-date">${moment(rolling.date).format(
                'YYYY년 MM월 DD일  HH시mm분'
              )}</span>
              
            </div>
            <button onclick="make_delete_fun()" class="delete-comment-button">
              🗑️
              </button>
              <button onclick="make_change_fun()" class="change-comment-button">
              ✏️
              </button>
            </li>
              `;
              $('#member-rollin-list').append(html);
            });
          });
      }
    </script>
  </head>
  <body>
    <div class="wrap">
      <header class="title">
        <h1><a href="/">⭐알콩콩~! 달콩콩~!</a></h1>
        <button onclick="setIsGgamchingMode()" class="special-button">
          💖
        </button>
        <span class="event-message"
          >하트를 클릭하면 ⭐깜찡이 모드💕를 사용하실 수 있어요!</span
        >
      </header>
      <section class="member-profile">
        <h2 class="hidden">팀원 누구누구의 프로필</h2>
        <div class="member-image" id="member-image">
          <img src="" alt="멤버 이미지" />
        </div>
        <div class="member-info" id="member-info">
          <span>⭐❤️⭐❤️⭐❤️⭐⭐❤️⭐❤️⭐❤️⭐⭐❤️⭐❤️⭐❤️⭐⭐❤️⭐❤️⭐❤️⭐</span>
          <span>
            안녕하세요! 🙌 <br />
            알콩콩달콩콩 팀원 누구누구입니다.
          </span>
          <span>어느시에 살고있어요.</span>
          <span>제 MBTI는 INFP에요.</span>
          <span>저는 쉬는 날엔 이거저거를 해요.</span>
          <span
            >제 GitHub는
            <a href="https://github.com/계정" target="_blank"
              >https://github.com/계정</a
            >입니다.</span
          >
          <span>모두들 잘 부탁드려요.</span>
        </div>
      </section>
      <section class="member-comment">
        <h2>이 팀원에게 하고 싶은 말...😮</h2>
        <ul class="member-comment-list" id="member-rollin-list">
          <li class="member-comment-item write">
            <div class="inner" id="write_comment">
              <input
                type="text"
                name="작성자명"
                id="comment-writer"
                placeholder="작성자명을 적어주세요."
                maxlength="8"
              />

              <input
                type="password"
                name="작성 비밀번호"
                id="comment-password"
                placeholder="비밀번호를 적어주세요."
              />
              <textarea
                name="작성 내용"
                id="comment-contents"
                placeholder="할 말을 적어주세요."
              ></textarea>
              <button onclick="make_rolling()" class="write-comment-button">
                다 적었어요!
              </button>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
